@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: head;
  src: url('../Heading-Now-Variable.ttf');
}
html {
  scroll-behavior: smooth;
}

body{

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#page1 >h1 {
  font-family: head;
}
.font-strech{
  font-stretch: 250%;
}
.underlinesa {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #cdb4db; /* Set your desired underline color */
  transition: width 0.35s ease-in-out;
}

.nav-item:hover .underlinesa {
  width: 100%;
  left: 0;
}

/* index.css */
.neo-brutalism {
  color: white;
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 3px;
  background: transparent;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s; /* Added box-shadow transition */
  box-shadow:  4px 8px rgba(0, 0, 0, 0.1); /* Default box shadow color (black) */
}

.neo-brutalism:hover {
  transform: translate(-5px, 5px);
  background-color: transparent;
  box-shadow: 4px 8px 16px rgba(150, 0, 255, 0.4); /* Adjust box shadow on hover, set to purple */
}

.neo-brutalism:hover,
.neo-brutalism:hover span {
  color: #cdb4db;
}
